<h3>Room Chat</h3>
<div class="chat-msg-field">
  <ul id="messages"></ul></div>
<form id="chat-form">
  <input
    id="msg"
    name="msgInput"
    type="text"
    placeholder="Enter Message"
    required
    autocomplete="off"
  />
  <input id="chat-user-name" type="hidden" value="{{user.username}}" />
  <input id="chat-user-id" type="hidden" value="{{user._id}}" />
  <input id="chat-gameroom-id" type="hidden" value="{{gameRoomId}}" />
  <button type="submit" class="btn btn-primary">Send</button>
</form>

<div class="col-8">
  <h2>Players</h2>
  <div class="card">
    <ul class="list-group list-group-flush">
      <div class="row player-card">
        {{#each players}}
          <div class="col-6 player-card">
            <li class="list-group-item">
              <img
                src="https://cdn.akamai.steamstatic.com//steam//apps//12200//0000006051.1920x1080.jpg?t=1618853378"
                alt=""
                class="player-image"
              />
              {{username}}</li>
            <a href="/kick/{{_id}}" id="kick-player">Kick Player</a>
          </div>
        {{/each}}
      </div>
    </ul>
  </div>
</div>