<div class="container">
  <h1>{{gameRoom.name}}</h1>
  <div class="row">
    <div class="col-8">
      <h2>Players</h2>
      <div class="card">
        <ul class="list-group list-group-flush">
          <div class="row player-card">
            {{#each gameRoom.players}}
              <div class="col-6 player-card">
                <li class="list-group-item">
                  <img
                    src="https://cdn.akamai.steamstatic.com//steam//apps//12200//0000006051.1920x1080.jpg?t=1618853378"
                    alt=""
                    class="player-image"
                  />
                  Player's Name</li>
              </div>
            {{/each}}
          </div>
        </ul>
      </div>
    </div>
    <div class="col-4">
      GameRoom Info
    </div>
  </div>

  {{#ifEquals gameRoom.status "waiting"}}
    <a href="{{gameRoom._id}}/start">▶️ Start Game Room</a>
    <a href="{{gameRoom._id}}/leave">🥾 Leave Game Room</a>
    <a href="{{gameRoom._id}}/destroy">❌ Destroy Game Room</a>
  {{else}}
    {{#ifEquals gameRoom.status "finished"}}
      <p>Game is Finished</p>
      <a href="{{gameRoom._id}}/destroy">❌ Destroy Game Room</a>
    {{else}}
      <a href="{{gameRoom._id}}/finish">🏁 Finish Game Room</a>
    {{/ifEquals}}
  {{/ifEquals}}

</div>