<div class="container mt-4">
  <h1>{{gameRoom.name}}</h1>
  <p>{{gameRoom.game}}</p>
  <div class="row">
    <div class="col-12 d-flex">
      <h2>Players {{gameRoom.players.length}}/{{gameRoom.maxPlayers}}</h2>
      <div class="btn-group ms-auto" role="group" aria-label="Basic example">
        {{#ifEquals gameRoom.status "waiting"}}
          {{#ifIdEquals userId gameRoom.owner}}
            <button
              type="button"
              onclick="location.href='/gameroom/{{gameRoom._id}}/start'"
              class="btn btn-success"
            ><i class="bi bi-play-fill"></i> Start</button>
            <button
              type="button"
              onclick="location.href='/gameroom/{{gameRoom._id}}/destroy'"
              class="btn btn-danger"
            ><i class="bi bi-trash-fill"></i> Destroy</button>
          {{else}}
            <button
              type="button"
              onclick="location.href='/gameroom/{{gameRoom._id}}/leave'"
              class="btn btn-danger"
            >Leave</button>
          {{/ifIdEquals}}
        {{else}}
          {{#ifEquals gameRoom.status "playing"}}
            {{#ifIdEquals userId gameRoom.owner}}
                <button
                  type="button"
                  onclick="location.href='/gameroom/{{gameRoom._id}}/finish'"
                  class="btn btn-secondary"
                ><i class="bi bi-stopwatch-fill"></i> Finish</button>
              {{/ifIdEquals}}
          {{/ifEquals}}
        {{/ifEquals}}
      </div>
      {{#ifEquals gameRoom.status "finished"}}
        {{#ifIdEquals userId gameRoom.owner}}
          <button
            type="button"
            onclick="location.href='/gameroom/{{gameRoom._id}}/destroy'"
            class="btn btn-danger ms-auto"
          >Destroy</button>
        {{/ifIdEquals}}
      {{/ifEquals}}
    </div>
    <div class="col-12 col-md-6 d-flex mt-4">
        <ul class="list-group w-100">
          {{#each players}}
            <li class="list-group-item bg-darkish d-flex players" onclick="location.href='/user/{{_id}}'">
              <a class="text-decoration-none text-darkish" href="/user/{{_id}}">{{username}}</a>
                <div class="ms-2 my-auto">
                  {{#ifIn _id ../friendsList}}
                    <span class="text-primary "><i class="bi bi-people-fill"></i></span>
                  {{/ifIn}}
                </div>
              <div class="ms-auto">
                {{#ifIdEquals ../userId _id}}
                  <span class="badge bg-primary my-auto"><i class="bi bi-person-fill"></i> You</span>
                {{/ifIdEquals}}
                {{#ifIdEquals ../gameRoom.owner _id}}
                  <span class="badge bg-success"><i class="bi bi-hammer"></i> Owner</span>
                {{/ifIdEquals}}
              </div>
            </li>
          {{/each}}
        </ul>
    </div>
    <div class="col-12 col-md-6 mt-4">
      <h3>Room Chat</h3>
      <div class="fs-sm-6 fs-5" id="chat-div">
        <ul
          class="d-flex flex-column px-sm-2 px-4"
          id="messages"
          style="list-style-type: none;"
        >
        </ul>
      </div>
      <form class="d-flex mt-2" id="chat-form">
        {{#ifNotEquals gameRoom.status "finished"}}
          <input
            class="form-control me-4"
            id="msg"
            name="msgInput"
            type="text"
            placeholder="Enter Message"
            required
            autocomplete="off"
          />
          <button type="submit" class="btn btn-primary">Send</button>
        {{/ifNotEquals}}
        <input id="chat-user-name" type="hidden" value="{{user.username}}" />
        <input id="chat-user-id" type="hidden" value="{{userId}}" />
        <input id="chat-gameroom-id" type="hidden" value="{{gameRoom._id}}" />
      </form>
    </div>
  </div>
</div>